@import "tailwindcss";

@layer base {
  :root {
    --bg-main: #f7fafc;
    --text-main: #181c1e;
  }
  .dark {
    --bg-main: #090e17;
    --text-main: #f1f5f9;
  }
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.3);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.5);
}
